.main{
    margin:20vh 30vw;
    background-color: beige;
    padding: 10px;
    border-radius: 20px;
}

.div-form{
    margin-top: 5vh;
}

.form-input{
    margin-top: 1vh;
}


#token_div{
    /*max-width: 60vw;*/
    word-break: break-all;
}
